extends layout

block styles
  link(rel='stylesheet' href='/css/header-menu.css')
  link(rel='stylesheet' href='/css/dashboard.css')
  link(rel='stylesheet' href='/css/footer.css')

block content
  
  include header-menu.pug

  section(class='ticketingContent')
    
    div(id='dashboard' class='ticketingContent-dashboard content')
      div(class='ticketingContent-dashboard-header')
        h1(class='ticketingContent-title')
          b Dashboard
      hr
      div(class='expanded row')
        div(class='column ticketingContent-dashboard-cardContainer')
          div(class='ticketingContent-card sold-tickets-card')
            i(class='fa fa-ticket fa-lg' aria-hidden='true')
            label(class='ticketingContent-card-data')
              b Boletos vendidos
            label(class='ticketingContent-card-dataNumber')
              b 300
          div(class='ticketingContent-card raised-money-card')
            i(class='fa fa-usd fa-lg' aria-hidden='true')
            label(class='ticketingContent-card-data')
              b Dinero recaudado
            label(class='ticketingContent-card-dataNumber')
              b 600.000 MXN
          div(class='ticketingContent-card events-held-card')
            i(class='fa fa-calendar fa-lg' aria-hidden='true')
            label(class='ticketingContent-card-data')
              b Eventos realizados
            label(class='ticketingContent-card-dataNumber')
              b 5
          div(class='ticketingContent-card sold-tickets-percentage-card')
            i(class='fa fa-percent fa-lg' aria-hidden='true')
            label(class='ticketingContent-card-data')
              b % boletos vendidos
            label(class='ticketingContent-card-dataNumber')
              b 75%
      div(class='ticketingContent-dashboard-boxContainer')
        div(class='ticketingContent-dashboard-box')
          div(class='ticketingContent-dashboard-boxHeader')
            h3(class='ticketingContent-dashboard-boxHeader-title')
              b Eventos activos
          div(class='ticketingContent-dashboard-boxTableContainer')
            table(class='dashboard-table unstriped')
              thead
                tr
                  th(class='dashboard-table-eventTitle-header') Nombre de evento
                  th(class='dashboard-table-date-header') Fecha
                  th(class='dashboard-table-total-header') Total boletos
                  th(class='dashboard-table-amount-header') Dinero recaudado
              tbody
                tr
                  td(class='dashboard-table-eventTitle')
                    b 438204823904890238903890284908402398490
                  td(class='dashboard-table-date') 27/06/17
                  td(class='dashboard-table-total') 100/500
                  td(class='dashboard-table-amount')
                    b 150.000 MXN
                tr
                  td(class='dashboard-table-eventTitle')
                    b 438204823904890238903890284908402398490
                  td(class='dashboard-table-date') 27/06/17
                  td(class='dashboard-table-total') 100/500
                  td(class='dashboard-table-amount')
                    b 150.000 MXN
                tr
                  td(class='dashboard-table-eventTitle')
                    b 438204823904890238903890284908402398490
                  td(class='dashboard-table-date') 27/06/17
                  td(class='dashboard-table-total') 100/500
                  td(class='dashboard-table-amount')
                    b 150.000 MXN
                tr
                  td(class='dashboard-table-eventTitle')
                    b 438204823904890238903890284908402398490
                  td(class='dashboard-table-date') 27/06/17
                  td(class='dashboard-table-total') 100/500
                  td(class='dashboard-table-amount')
                    b 150.000 MXN
                tr
                  td(class='dashboard-table-eventTitle')
                    b 438204823904890238903890284908402398490
                  td(class='dashboard-table-date') 27/06/17
                  td(class='dashboard-table-total') 100/500
                  td(class='dashboard-table-amount')
                    b 150.000 MXN

  include footer.pug