extends layout

block styles
  link(rel='stylesheet' href='/css/header-menu.css')
  link(rel='stylesheet' href='/css/events.css')
  link(rel='stylesheet' href='/css/footer.css')

block content
  
  include header-menu.pug

  div(id='events' class='ticketingContent-events')
    div(class='ticketingContent-events-header')
      h1(class='ticketingContent-title')
        b Eventos
      div(class='ticketingContent-events-buttonsContainer')
        button(class='ticketingContent-events-filterButton')
          span
            b Filtrar
            | &nbsp;
          i(class='fa fa-caret-down fa-lg' aria-hidden='true')
        a(href='/events/add' class='ticketingContent-events-addEvent')
          span
            b Agregar evento
    hr

    div(class='ticketingContent-events-cardContainer')
      div(class='ticketingContent-events-card')
        img(class='ticketingContent-events-card-image' src='/images/event-image.png')
        div(class='ticketingContent-events-card-data')
          div(class='ticketingContent-events-card-status-font')
            i(class='fa fa-eye fa-lg' aria-hidden='true')
          span(class='ticketingContent-events-card-title')
            b 43820482390489023389 0284908 402398490
          span(class='ticketingContent-events-card-date')
            i(class='fa fa-calendar fa-lg' aria-hidden='true')
            | &nbsp; &nbsp; 27/06/17
          span(class='ticketingContent-events-card-seats')
            i(class='fa fa-ticket fa-lg' aria-hidden='true')
            | &nbsp; 100/500
          div(class='ticketingContent-events-card-amount')
            span
              b 150.000 MXN
          div(class='ticketingContent-events-card-status status-inProgress')
            span
              b EN CURSO
      div(class='ticketingContent-events-card')
        img(class='ticketingContent-events-card-image' src='/images/event-image.png')
        div(class='ticketingContent-events-card-data')
          div(class='ticketingContent-events-card-status-font')
            i(class='fa fa-eye-slash fa-lg' aria-hidden='true')
          span(class='ticketingContent-events-card-title')
            b 43820482390489023389 0284908 402398490
          span(class='ticketingContent-events-card-date')
            i(class='fa fa-calendar fa-lg' aria-hidden='true')
            | &nbsp; &nbsp; 27/06/17
          span(class='ticketingContent-events-card-seats')
            i(class='fa fa-ticket fa-lg' aria-hidden='true')
            | &nbsp; 100/500
          div(class='ticketingContent-events-card-amount')
            span
              b 150.000 MXN
          div(class='ticketingContent-events-card-status status-inProgress')
            span
              b EN CURSO
      div(class='ticketingContent-events-card')
        img(class='ticketingContent-events-card-image' src='/images/event-image.png')
        div(class='ticketingContent-events-card-data')
          div(class='ticketingContent-events-card-status-font')
            i(class='fa fa-eye fa-lg' aria-hidden='true')
          span(class='ticketingContent-events-card-title')
            b 43820482390489023389 0284908 402398490
          span(class='ticketingContent-events-card-date')
            i(class='fa fa-calendar fa-lg' aria-hidden='true')
            | &nbsp; &nbsp; 27/06/17
          span(class='ticketingContent-events-card-seats')
            i(class='fa fa-ticket fa-lg' aria-hidden='true')
            | &nbsp; 100/500
          div(class='ticketingContent-events-card-amount')
            span
              b 150.000 MXN
          div(class='ticketingContent-events-card-status status-done')
            span
              b REALIZADO
      div(class='ticketingContent-events-card')
        img(class='ticketingContent-events-card-image' src='/images/event-image.png')
        div(class='ticketingContent-events-card-data')
          div(class='ticketingContent-events-card-status-font')
            i(class='fa fa-eye-slash fa-lg' aria-hidden='true')
          span(class='ticketingContent-events-card-title')
            b 43820482390489023389 0284908 402398490
          span(class='ticketingContent-events-card-date')
            i(class='fa fa-calendar fa-lg' aria-hidden='true')
            | &nbsp; &nbsp; 27/06/17
          span(class='ticketingContent-events-card-seats')
            i(class='fa fa-ticket fa-lg' aria-hidden='true')
            | &nbsp; 100/500
          div(class='ticketingContent-events-card-amount')
            span
              b 150.000 MXN
          div(class='ticketingContent-events-card-status status-done')
            span
              b REALIZADO

  include footer.pug