extends layout

block styles
  link(rel='stylesheet' href='/css/header-menu.css')
  link(rel='stylesheet' href='/css/events.css')
  link(rel='stylesheet' href='/css/footer.css')

block content
  
  include header-menu.pug

  div(id='events' class='ticketingContent-events')
    div(class='ticketingContent-events-header')
      h1(class='ticketingContent-title')
        b Eventos
      div(class='ticketingContent-events-buttonsContainer')
        button(class='ticketingContent-events-filterButton')
          span
            b Filtrar
            | &nbsp;
          i(class='fa fa-caret-down fa-lg' aria-hidden='true')
        a(href='/events/add' class='ticketingContent-events-addEvent')
          span
            b Agregar evento
    hr

    div(class='ticketingContent-events-cardContainer')

      - var show_class = ''
      - var status_class = ''
      - var status_text = ''

      each event in events
        - event.show === true ? show_class = 'fa fa-eye fa-lg' : show_class = 'fa fa-eye-slash fa-lg'

        div(class='ticketingContent-events-card')
          img(class='ticketingContent-events-card-image' src='/images/event-image.png')
          div(class='ticketingContent-events-card-data')
            div(class='ticketingContent-events-card-status-font')
              i(class= show_class, aria-hidden='true')
            span(class='ticketingContent-events-card-title')
              b= event.name
            span(class='ticketingContent-events-card-date')
              i(class='fa fa-calendar fa-lg' aria-hidden='true') &nbsp; &nbsp;
              = event.date
            span(class='ticketingContent-events-card-seats')
              i(class='fa fa-ticket fa-lg' aria-hidden='true') &nbsp; &nbsp;
              = event.seats
            div(class='ticketingContent-events-card-amount')
              span
                b= event.amount + ' MXN'
            if event.status === 'done'
              div(class='ticketingContent-events-card-status status-done')
                span
                  b REALIZADO
            else
              div(class='ticketingContent-events-card-status status-inProgress')
                span
                  b EN CURSO

  include footer.pug