extends layout

block styles
  link(rel='stylesheet' href='css/index.css')

block content
  header(class='ticketingHeader')
    div(class='ticketingHeader-adminBox')
      div(class='ticketingHeader-adminBox-avatar')
      span
        b Admin
    div(class='ticketingHeader-options tab')
      button(class='ticketingHeader-options-dashboard tablinks active' onclick="openOption(event, 'ticketingContent-dashboard')")
        i(class='fa fa-bar-chart' aria-hidden='true') &nbsp;
        span Dashboard
      button(class='ticketingHeader-options-events tablinks' onclick="openOption(event, 'ticketingContent-events')")
        i(class='fa fa-ticket' aria-hidden='true') &nbsp;
        span Eventos
      button(class='ticketingHeader-options-payment tablinks' onclick="openOption(event, 'ticketingContent-payment')")
        span(class='fa-stack')
          i(class='fa fa-circle fa-stack-2x')
          i(class='fa fa-usd fa-stack-1x' aria-hidden='true')
        | &nbsp;
        span Pagos
      button(class='ticketingHeader-options-logout')
        | Log Out &nbsp;
        i(class='fa fa-sign-out fa-lg' aria-hidden='true')

  section(class='ticketingContent')
    div(class='ticketingContent-dashboard tabcontent') contenido del dashboard
    div(class='ticketingContent-events tabcontent') contenido de los eventos
    div(class='ticketingContent-payment tabcontent') contenido de los eventos

  footer(class='ticketingFooter')
    div(class='ticketingFooter-codeWithLove')
      i(class="fa fa-code fa-2x" aria-hidden="true")
      span &nbsp; with &nbsp;
      i(class="fa fa-heart fa-lg" aria-hidden="true")
      span &nbsp; by: &nbsp;
      img(class="ticketingFooter-codeWithLove-logo" src='images/recaudia-logo-white.png')
    div(class='ticketingFooter-contact')
      span Need support? Contact us:
      | &nbsp; &nbsp;
      span(class='fa-stack')
          i(class='fa fa-circle fa-stack-2x')
          i(class='fa fa-phone fa-stack-1x' aria-hidden='true')
      | &nbsp; &nbsp;
      span(class='fa-stack')
          i(class='fa fa-circle fa-stack-2x')
          i(class='fa fa-envelope fa-stack-1x' aria-hidden='true')

