extends layout

block styles
  link(rel='stylesheet' href='css/index.css')

block content
  header(class='ticketingHeader')
    div(class='ticketingHeader-adminBox')
      div(class='ticketingHeader-adminBox-avatar')
      span
        b Admin
    div(class='ticketingHeader-options')
      div(class='ticketingHeader-options-dashboard')
        i(class='fa fa-bar-chart' aria-hidden='true') &nbsp;
        span Dashboard
      div(class='ticketingHeader-options-events')
        i(class='fa fa-ticket' aria-hidden='true') &nbsp;
        span Eventos
      div(class='ticketingHeader-options-payment')
        span(class='fa-stack')
          i(class='fa fa-circle fa-stack-2x')
          i(class='fa fa-usd fa-stack-1x' aria-hidden='true')
        | &nbsp;
        span Pagos
      div(class='ticketingHeader-options-logout')
        | Log Out &nbsp;
        i(class='fa fa-sign-out fa-lg' aria-hidden='true')

  footer(class='ticketingFooter')
    div(class='ticketingFooter-codeWithLove')
      i(class="fa fa-code fa-2x" aria-hidden="true")
      span &nbsp; with &nbsp;
      i(class="fa fa-heart fa-lg" aria-hidden="true")
      span &nbsp; by: &nbsp;
      img(class="ticketingFooter-codeWithLove-logo" src='images/recaudia-logo-white.png')
    div(class='ticketingFooter-contact')
      span Need support? Contact us:
      | &nbsp; &nbsp;
      span(class='fa-stack')
          i(class='fa fa-circle fa-stack-2x')
          i(class='fa fa-phone fa-stack-1x' aria-hidden='true')
      | &nbsp; &nbsp;
      span(class='fa-stack')
          i(class='fa fa-circle fa-stack-2x')
          i(class='fa fa-envelope fa-stack-1x' aria-hidden='true')

