extends layout

block styles
  link(rel='stylesheet' href='css/index.css')
  link(rel='stylesheet' href='css/add-event.css')

block content
  
  include header-menu.pug

  section(class='ticketingContent')
    
    div(id='dashboard' class='ticketingContent-dashboard content')
      include menu/dashboard.pug

    div(id='events' class='ticketingContent-events content')
      include menu/events.pug

    div(id='payment' class='ticketingContent-payment content')
      include menu/payment.pug

    div(id='addEvent' class='addEventContent content')
      include menu/events/add-event.pug

  include footer.pug