.addEventContent {
  display: none;
}

/*Header*/

.addEvent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addEvent-header-options {
  height: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 4%;
  padding-bottom: 15px;
}

.addEvent-header-goBack {
  height: 75px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 4%;
}

.addEvent-header-options button {
  font-size: 18px;
  height: 30px;
  padding: 0 10px;
  margin-right: 30px;
  cursor: pointer;
}

.addEvent-header-options button.active {
  border-bottom: 5px solid #C1272D;
  margin-bottom: -5px;
}

.addEvent-header-goBack a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C1272D;
  width: 151px;
  height: 39px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
}

/*Content*/

.addEvent-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Banner*/

.addEvent-content-banner {
  width: 1101px;
  height: 529px;
  background-color: #B3B3B3;
  margin-top: 3%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addEvent-content-banner i {
  font-size: 250px;
}

.addEvent-content-banner span {
  position: absolute;
  z-index: 1;
  font-size: 40px;
  color: #606060;
}

.addEvent-content-bannerDescription {
  font-size: 20px;
  margin: 1% 0;
  color: #333333;
}

/*Form*/

.addEvent-content-formRequired {
  height: 80px;
  background: #E6E6E6;
  margin: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addEvent-content-formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.addEvent-content-form-left {
  margin-right: 20px;
}

.addEvent-content-form-right {
  margin-left: 20px;
}

.date-datetime-inputs {
  display: flex;
  justify-content: space-between;
}

.addEvent-content-formRequired span.asterisk,
.addEvent-content-form-inputDescription span.asterisk,
.addEvent-content-form-smallInputDescription span.asterisk {
  color: #C1272D;
}

.addEvent-content-form-inputDescription {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.addEvent-content-form-inputDescription h3,
.addEvent-content-form-smallInputDescription h3 {
  font-size: 38px;
}

.addEvent-content-formContainer input,
.addEvent-content-formContainer textarea {
  width: 501px;
  background-color: #E6E6E6;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid transparent;
  transition: 0.3s;
}

.addEvent-content-formContainer input {
  height: 29px;
}

.addEvent-content-formContainer textarea {
  resize: none;
  overflow: hidden;
  max-width: none;
}

.addEvent-content-formContainer input.small-input {
  width: 100%;
}

.addEvent-content-formContainer span.date-input-label {
  transition: 0.3s;
}

.addEvent-content-formContainer input:focus,
.addEvent-content-formContainer input:focus + span.date-input-label,
.addEvent-content-formContainer textarea:focus {
  box-shadow: none;
  background-color: #FFBFC2;
  border: 1px solid transparent;
  transition: 0.3s;
}

.addEvent-content-formContainer input.small-input.date-input {
  border-radius: 10px 0 0 10px;
  width: 180px;
}

.addEvent-content-formContainer span.date-input-label {
  /*background-color: #E6E6E6;*/
  border-radius: 0 10px 10px 0;
  /*box-shadow: none;*/
  border: 1px solid transparent;
  cursor: pointer;
  color: #606060;
  padding-left: 0;
}

.time-input-container {
  padding-right: 0;
}

.description-textarea-header {
  background-color: #C1272D;
  height: 50px;
  width: 563px;
  border-radius: 15px 15px 0 0;
}

textarea.description-textarea {
  width: 563px;
  height: 416px;
  border-radius: 0 0 15px 15px;
}

/*Social form*/

input.events-social-input {
  /*501 pixeles menos el span del icono*/
  width: 441px;
  height: 42px;
  border-radius: 0 10px 10px 0;
}

.social-form div.input-group span {
  font-size: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  border: 1px solid transparent;
}

.social-form div.input-group span.label-email {
  background-color: #006A3F;
}

.social-form div.input-group span.label-facebook {
  background-color: #4C76BE;
}

.social-form div.input-group span.label-instagram {
  background: radial-gradient(circle at 21% 100%, #D92E7F 62%, #9B36B7 85%);
}

.social-form div.input-group span.label-twitter {
  background-color: #00C7FF;
}

/*Switch del formulario*/

.addEvent-content-form-switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addEvent-content-form-switchContainer span.switchDescription {
  font-size: 14px;
}

div.switch.medium {
  margin-bottom: 0;
}

label.switch-paddle {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #B3B3B3;
}

input:checked~.switch-paddle {
  background-color: white;
}

span.switch-active {
  color: #B3B3B3;
  left: 20%;
}

span.switch-inactive {
  color: #B3B3B3;
}

.switch.medium .switch-paddle:after {
  border-radius: 50%;
  background-color: #C1272D;
}

/*Boton de guardar*/
.addEvent-content-form-saveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.addEvent-content-form-saveContainer button {
  background-color: #C1272D;
  width: 222px;
  height: 57px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 37px;
}

/*Para móviles*/
@media screen and (max-width: 650px) {

  .addEvent-header {
    padding-top: 15vh;
    flex-direction: column;
    align-items: flex-end;
  }

  .addEvent-header-goBack {
    height: auto;
    padding-bottom: 3%;
  }

  .addEvent-header-goBack a {
    border-radius: 5px;
    font-size: 18px;
    width: 135px;
  }

  .addEvent-header-options {
    display: none;
  }

  .addEvent-content {
    margin-top: 3%;
  }

  .addEvent-content-banner {
    width: 90%;
    height: 245px;
    text-align: center;
  }

  .addEvent-content-banner i {
    font-size: 150px;
  }

  .addEvent-content-banner span {
    font-size: 18px;
  }

  .addEvent-content-bannerDescription {
    font-size: 14px;
  }

  .addEvent-content-formRequired {
    height: 50px;
    font-size: 12px;
  }

  .addEvent-content-formContainer {
    flex-direction: column;
  }

  .addEvent-content-form-left {
    margin-right: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
  }

  .addEvent-content-formContainer input {
    height: 30px;
  }

  .addEvent-content-formContainer input,
  .addEvent-content-formContainer textarea {
    width: 100%;
    border-radius: 5px;
  }

  .addEvent-content-form-inputDescription h3,
  .addEvent-content-form-smallInputDescription h3 {
    font-size: 25px;
  }

  .addEvent-content-form-inputDescription span {
    font-size: 10px;
  }

  .addEvent-content-formContainer input.small-input.date-input {
    width: 35vw;
    border-radius: 5px 0 0 5px;
  }

  .addEvent-content-formContainer span.date-input-label {
    border-radius: 0 5px 5px 0;
    margin-right: 5vw;
  }

  .addEvent-content-form-right {
    margin-left: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100%;
  }

  .description-textarea-header {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  textarea.description-textarea {
    border-radius: 0 0 10px 10px;
  }

  input.events-social-input {
    border-radius: 0 5px 5px 0;
  }

  .social-form div.input-group span {
    border-radius: 5px 0 0 5px;
    font-size: 100%;
  }

  .addEvent-content-form-switchContainer {
    flex-direction: column;
  }

  .addEvent-content-form-saveContainer button {
    font-size: 30px;
    width: 200px;
    height: 50px;
  }
}