body {
	margin: 0;
  font-family: 'Roboto', sans-serif;
}

.ticketingError,
.ticketingLogin {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #3F000C, #550009, #7F0027, #94003A);
}

.tikectingErrorBox {
	width: 949px;
	height: 718px;
	background: white;
}

.ticketingErrorBox-cover {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 416px;
	height: 718px;
	background: #C1272D;
}

.ticketingErrorBox-cover-span {
	font-size: 175px;
	color: white;
}