/*Header*/
.ticketingHeader {
  display: flex;
  height: 110px;
  background-color: #C1272D;
  color: white;
  font-size: 28px;
}

.ticketingHeader-adminBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  background-color: #333333;
}

.ticketingHeader-adminBox-avatar {
  position: absolute;
  left: 1%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}

.ticketingHeader-options {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 276px);
}

.ticketingHeader-options a {
  color: white;
  cursor: pointer;
  margin-left: 4%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.ticketingHeader-options-payment .fa-stack {
  font-size: medium;
}

.ticketingHeader-options-payment .fa-usd {
  color: #C1272D;
}

.ticketingHeader-options-logout {
  height: 65%;
  border-left: 4px solid white;
  position: absolute;
  right: 4%;
  padding-left: 2%;
  height: auto
}

div.ticketingHeader-options a.active {
  border-bottom: 5px solid white;
  margin-bottom: -5px;
}

/*Menú off-canvas*/
div.ticketingHeader-options-offCanvas {
  display: none;
}

/*Para móviles*/
@media screen and (max-width: 39.9375em) {
  
  .ticketingHeader {
    height: 10%;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .ticketingHeader-adminBox {
    width: 45%;
  }

  .ticketingHeader-adminBox-avatar {
    width: 50px;
    height: 50px;
    left: 0;
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
  }

  .ticketingHeader-adminBox span {
    margin-right: 5%;
  }

  .ticketingHeader-options {
    display: none;
  }

  div.ticketingHeader-options-offCanvas {
    display: flex;
    position: fixed;
    top: 10%;
    background: #606060;
    flex-direction: column;
    width: 45%;
    height: 100%;
    z-index: 2;
    padding-top: 5%;
    transition: 0.3s;
    left: -100%;
  }

  div.offCanvas-active {
    left: 0;
  }

  div.ticketingHeader-options-offCanvas a {
    color: white;
    text-decoration: none;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
  }

  div.ticketingHeader-options-offCanvas a .offCanvas-icon {
    width: 20%;
    font-size: 25px;
  }

  div.ticketingHeader-options-offCanvas a span.fa-stack {
    margin-left: -3%;
  }

  i.fa.fa-usd.fa-stack-1x {
    color: #606060;
  }

  div.ticketingHeader-options-offCanvas a.active {
    background-color: #333333;
  }
}