table {
  width: 100%;
}

table thead {
  display: block;
  height: 50px;
}

table tbody {
  display: block;
  overflow-y: auto;
  /*La altura de la caja menos la altura de su header, menos la altura del header de la tabla, menos un par de pixeles mas*/
  height: 244px;
  overflow-x: hidden;
}

/*Header*/
.ticketingHeader {
  display: flex;
  height: 110px;
  background-color: #C1272D;
  color: white;
  font-size: 28px;
}

.ticketingHeader-adminBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 276px;
  background-color: #333333;
}

.ticketingHeader-adminBox-avatar {
  position: absolute;
  left: 1%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
}

.ticketingHeader-options {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 276px);
}

.ticketingHeader-options button {
  color: white;
  cursor: pointer;
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
}

.ticketingHeader-options-payment .fa-stack {
  font-size: medium;
}

.ticketingHeader-options-payment .fa-usd {
  color: #C1272D;
}

.ticketingHeader-options-logout {
  height: 65%;
  border-left: 4px solid white;
  position: absolute;
  right: 5%;
  padding-left: 5%;
}

div.tab button.active {
  border-bottom: 5px solid white;
  margin-bottom: -5px;
}

/*Content*/

.ticketingContent-events {
  display: none;
  /*La altura disponible del dispositivo menos la altura del header y el footer*/
  height: calc(100vh - 180px);
}

.ticketingContent-payment {
  display: none;
  /*La altura disponible del dispositivo menos la altura del header y el footer*/
  height: calc(100vh - 180px);
}

.ticketingContent-title {
  font-size: 51px;
  color: #333333;
}

.ticketingContent-dashboard hr {
  margin: 0;
  max-width: none;
  color: #333333;
  border-bottom: 1px solid #333333;
}

.ticketingContent-dashboard-cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.ticketingContent-card {
  width: 284px;
  height: 379px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 13px;
  padding: 20px;
  box-shadow: 0px 4px 20px 0px #CCCCCC, 0 6px 20px 0 #CCCCCC;
}

.ticketingContent-card i {
  font-size: 125px;
}

.ticketingContent-card-data {
  font-size: 24px;
  color: #606060;
}

.ticketingContent-card-dataNumber {
  font-size: 34px;
  color: #333333;
}

.sold-tickets-card i {
  color: orange;
}

.raised-money-card i {
  color: limegreen;
}

.events-held-card i {
  color: slategray;
}

.sold-tickets-percentage-card i {
  color: mediumpurple;
}

.ticketingContent-dashboard-boxContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ticketingContent-dashboard-box {
  width: 1216px;
  height: 379px;
  box-shadow: 0px 4px 20px 0px #CCCCCC, 0 6px 20px 0 #CCCCCC;
}

.ticketingContent-dashboard-boxHeader {
  height: 82px;
  background-color: #333333;
}

.ticketingContent-dashboard-boxHeader-title {
  font-size: 35px;
  color: white;
  padding-top: 20px;
  padding-left: 40px;
}

/*Footer*/
.ticketingFooter {
  height: 70px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 17px;
}

.ticketingFooter-codeWithLove {
  display: flex;
  align-items: center;
  position: relative;
  left: 3%;
}

.ticketingFooter-codeWithLove i.fa-code {
  color: #11a7a5;
}

.ticketingFooter-codeWithLove i.fa-heart {
  color: #ff5959;
}

.ticketingFooter-codeWithLove-logo {
  position: relative;
  top: -10px;
  width: 15%;
}

.ticketingFooter-contact {
  display: flex;
  align-items: center;
  position: relative;
  right: 3%;
}

.ticketingFooter-contact .fa-stack {
  font-size: x-large;
}

.ticketingFooter-contact .fa-phone,
.ticketingFooter-contact .fa-envelope {
  color: #333333;
}