body {
  font-family: 'Roboto', sans-serif;
}

span {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  margin: 0 3%;
  max-width: none;
  color: #333333;
  border-bottom: 1px solid #333333;
}

/*Placeholder para el modo responsivo*/

.mobile-responsive-placeholder {
  height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
  padding-top: 25%;
}

.mobile-responsive-placeholder i {
  font-size: 40em;
  color: #B3B3B3;
}

.mobile-responsive-placeholder span {
  font-size: 20px;
  color: #606060;
  position: absolute;
}

/*Para móviles*/
@media screen and (max-width: 650px) {
  html, body {
    height: 100%;
  }
}