div(class='addEvent-header')
  div(class='addEvent-header-options')
    button(class='active')
      span Información
    button
      span Tipos de boletos
    button
      span Códigos promocionales
    button
      span Encuestas
  div(class='addEvent-header-goBack')
    button(onclick="addEvent(event, 'events')")
      span
        b Volver
hr